block content 
    link(rel='stylesheet', href='/stylesheets/style.css')
    if (!user.isAdmin)
        form(action='/admin' method="POST")
            h1= title 
            label(for='admincode') Enter the special admin code
            br
            input(name='admincode' type='text')
            br
            if (adminCodeError)
                p #{adminCodeError}
            button(type='submit') Submit 
            br
            button(type='submit')  
                a(href='/') Back 
        
        if (errors)
            p #{errors}
        
    else 
        h2 You're an admin! 
        br
        a(href='/') Return to homepage