extends layout 

block content 
    if (!user.isAdmin)
        form.auth-form(action='' method="POST")
            h2= title
            div 
                label(for='admincode') Enter the special admin code
                br
                input#passcode(name='admincode' type='text')
                br
                if (adminCodeError)
                    p(style="color: red") #{adminCodeError}
            button(type='submit') Submit 
            br
            button(type='submit')  
                a(href='/') Back 
        
        if (errors)
            p #{errors}
    else 
        div(style="width: 50%; margin: 0 auto; text-align: center")
            h2 You're an admin! 
            br
            a(href='/') Return to homepage