extends layout

block content
    form.auth-form(action='/log-in' method="POST")
        h1= title
        p.auth-alternative Don't have an account? 
            a(href='/sign-up') Sign up
        div 
            label(for='username') Username 
            br
            input#username(type="text" required=true name="username")
        div
            label(for='password') Password 
            br
            input#password(name='password' type='text' required=true)
        button(type='submit') Log In 
        br
        button(type='submit')
            a(href='/') Back
    
    if (errors)
        p #{errors}
