extends layout

block content 
    if (!user.isMember)
        form.auth-form(action='' method="POST")
            h1= title
            div 
                label(for='passcode') Enter the membership passcode 
                br
                input#passcode(name='passcode' required=true type='text')
                if (passcodeError)
                    p(style="color: red") #{passcodeError}
            button(type='submit') Submit 
        
        if (errors)
            p #{errors}
    else 
        div(style="width: auto; margin: 0 auto; text-align: center")
            h2 Hurray! You're a member now! 
            br
            a(href='/') Return to homepage 