block content 
    link(rel='stylesheet', href='/stylesheets/style.css')
    if (!user.isMember)
        form(action='/member' method="POST")
            h1= title 
            label(for='passcode') Enter the membership passcode 
            br
            input(name='passcode' required=true type='text')
            if(passcodeError)
                p #{passcodeError}
            button(type='submit') Submit 
        
        if (errors)
            p #{errors}
        
    else 
        h2 Hurray! You're a member now! 
        a(href='/') Return to homepage